src/neuralnetwork/.vscode/
src/neuralnetwork/testcode.cpp
src/neuralnetwork/testcode
src/neuralnetwork/testcode.dSYM/
src/neuralnetwork/samplecode
src/neuralnetwork/samplecode.dSYM/
src/neuralnetwork/tutorial
src/neuralnetwork/tutorial.dSYM/
src/neuralnetwork/oldtests.txt
src/neuralnetwork/wrongcce.txt
.vscode/