neuralnetwork/.vscode/
neuralnetwork/testcode.cpp
neuralnetwork/testcode
neuralnetwork/testcode.dSYM/
neuralnetwork/samplecode
neuralnetwork/samplecode.dSYM/
neuralnetwork/tutorial
neuralnetwork/tutorial.dSYM/
neuralnetwork/oldtests.txt
neuralnetwork/wrongcce.txt